/* member 공통 */
.member{display: flex; justify-content: center; align-items: center; height:100vh; min-height: 800px;}
.member>div{width:400px; padding-top:70px; font-size: 17px;}
.member .title{margin-bottom:15px; text-align: center; font-family: 'GangwonExtraBoldA';  font-size: 40px; color:#154757;}

.member form p{margin-top:15px; padding-left:5px;}
.member form input, .member form select{width:100%; height:48px; margin-top:5px; padding:0 10px; border:1px solid #ddd; outline: none; border-radius: 10px; background: #fff; line-height: 48px; font-size: 17px;}
.member form input::placeholder{color:#aaa; font-size: 15px;}
.member form+p{margin-top:20px; text-align: center;}
.member form+p a{border-bottom:1px solid #154757; font-size: 13px; color:#154757;}
.member form button{margin-top: 5px; border: 1px solid #154757; border-radius: 10px; line-height: 50px; font-family: 'Pretendard-Bold'; background: #154757; font-size: 17px; color:#fff; cursor: pointer; }
.member form button.last-btn{width:100%; margin-top:30px;}

 
/* @@@@@@@@@ 로그인 @@@@@@@@@ */
#login form .f-right{float: right; margin:15px 5px 0 0; font-size: 13px;}
#login form .f-right::after{content: ""; display: block; clear: both;}
#login form .f-right a:first-child{margin-right:10px; padding-right:10px; border-right:1px solid #ddd;}


/* @@@@@@@@@ 회원가입 @@@@@@@@@ */
#join h5{margin-left:5px; font-size: 17px;}
#join form span{display: block; margin:5px 0 0 5px; font-size: 13px; color:#aaa;}
#join form button{width:100%; height:48px; border:none;}
#join form .id button{width:130px; margin-left:5px;}
#join form .pw{position:relative;}
#join form .pw img{position:absolute; right:14px; transform: translateY(23px); opacity: 0;}
#join form .email{position:relative;}
#join form .email input, #join form .email select{width:47%;}
#join form .email input.custom-email{position:absolute; top:20px; right:21px; width:42%; border-radius: 10px 0 0 10px; border-right: none;}
#join form .email .certification {position:relative; height:53px;}
#join form .email .certification button.one{ position:absolute; top:0; width:150px;}
#join form .email .certification input {width:100%; border-radius: 9px;}
#join form .email .certification button.two{width:140px; margin-left:5px;}
#join form .email .certification .check{position:absolute; top:0; width:100%; display: none;}
#join form .email .certification .check.check-on{display: flex;}
#join form .email .certification .check.check-off{display: none;}

