body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 페이지네이션 css */
.pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.pagination .page-button {
    padding: 8px 12px;
    border: none;
    background-color: #fff;
    color: #154757;
    cursor: pointer;
}
.pagination .page-button.active {
    background-color: #3A7A8F;
    border-radius: 5px;
    color: #FFFFFF;
}
.pagination .pagination-arrow {
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #d4dfe3;
    border-radius: 5px;
    color: #FFFFFF;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

/* 폰트 */
#medicine .b25mc{
    font-family: 'Pretendard-Bold';
    font-size: 25px;
    color: #154757;
}
#medicine .b20b{
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: #111;
}
#medicine .b18mc{
    font-family: 'Pretendard-Bold';
    font-size: 18px;
    color: #154757;
}
#medicine .b17mc{
    font-family: 'Pretendard-Bold';
    font-size: 17px;
    color: #154757;
}
#medicine .b16mc{
    font-family: 'Pretendard-Bold';
    font-size: 16px;
    color: #154757;
}
#medicine .b15b{
    font-family: 'Pretendard-Bold';
    font-size: 15px;
    color: #111;
}
#medicine .b14dg{
    font-family: 'Pretendard-Bold';
    font-size: 14px;
    color: #3A7A8F;
}
#medicine .b13b{
    font-family: 'Pretendard-Bold';
    font-size: 13px;
    color: #111;
}
#medicine .b13dp{
    font-family: 'Pretendard-Bold';
    font-size: 13px;
    color: #F07F8E;
}
#medicine .r20b{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    color: #111;
}
#medicine .r18mc{
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    color: #154757;
}
#medicine .r17b{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #111;
}
#medicine .r17w{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #fff;
}
#medicine .r17dp{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #F07F8E;
}
#medicine .r17mc{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #154757;
}
#medicine .r17b{ 
    font-family: 'Pretendard-Regular'; 
    font-size: 17px; 
    color: #111;
}
#medicine .r17g{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #444;
}
#medicine .r16mc{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    color: #154757;
}
#medicine .r16dg{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    color: #3A7A8F;
}
#medicine .r16b{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    color: #111;
}
#medicine .r15mc{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #154757;
}
#medicine .r15dg{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #3A7A8F;
}
#medicine .r15w{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #fff;
}
#medicine .r15b{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #111;
}
#medicine .r15d{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #ddd;
}
#medicine .r15f0{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #FF0000;
}
#medicine .r158{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #888;
}
#medicine .r14g{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #aaa;
}
#medicine .r14mc{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #154757;
}
#medicine .r13w{
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    color: #fff;
}
#medicine .r13b{
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    color: #111;
}
#medicine .r12b{
    font-family: 'Pretendard-Regular';
    font-size: 12px;
}
#medicine .r128{
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    color: #888;
}

/* medicine */
#medicine { width: 1200px; margin: 0 auto; background-color: #fff; padding-top: 81px;}
#medicine h3 { font-size: 20px; font-weight: bold; color: #154757;}

/* 검색창 */
#medicine .dsearch { text-align: center; margin-bottom: 57px;}
#medicine .dsearch h2 { font-size: 27px; color: #154757; margin-bottom: 30px;}
#medicine .dsearch .dsearch-bar { position: relative; display: inline-block;}
#medicine .dsearch .dsearch-bar .input-container { display: flex; align-items: center; border-radius: 30px; border: 1px solid #ddd; width: 880px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); position: relative;}
#medicine .dsearch .dsearch-bar:focus-within .input-container { border-radius: 30px 30px 0 0; border-bottom: none; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);}
#medicine .dsearch .dsearch-bar .input-container .search-logo { position: absolute; left: 25px; top: 50%; transform: translateY(-50%); margin-right: 10px; height: 30px; text-align: center;}
#medicine .dsearch .dsearch-bar .input-container input[type="text"] { flex: 1; width: 100%; height: 60px; padding: 18px 80px; border: none; outline: none; }
#medicine .dsearch .dsearch-bar .dsearch-button { position: absolute; top: 50%; transform: translateY(-50%); right: 32px; background: none; border: none; cursor: pointer;}
#medicine .dsearch .dsearch-bar .ddropdown-button { position: absolute; top: 50%; transform: translateY(-50%); right: 75px; background: none; border: none; cursor: pointer;}
#medicine .dsearch .dsearch-bar .dresult-items { display: block; position: absolute; top: 100%; left: -1px; width: 880px; background-color: #fff; border: 1px solid #ddd; border-top: none; border-radius: 0 0 30px 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-height: 456px; z-index: 1000; overflow: hidden;}
#medicine .dsearch .dsearch-bar .dresult-items .dresult-item { display: flex; align-items: center; padding: 10px 20px; cursor: pointer; padding: 15px; border-radius: 0 30px 30px 0; width: 100%;}
#medicine .dsearch .dsearch-bar .dresult-items .dresult-item:hover { background-color: #569eb6; color: white;}
#medicine .dsearch .dsearch-bar .dresult-items .dresult-item img { width: 20px; height: 20px; margin: 0 20px;}

/* 상세검색 */
#medicine .ddetail-search { background-color: #fff;}
#medicine .ddetail-search .ddetail-title { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;}
#medicine .ddetail-search .ddetail-title p { font-size: 15px; color: #aaa;}
#medicine .ddetail-search form { border-top: 1px solid #154757; border-bottom: 1px solid #154757;}
#medicine .ddetail-search form .dform-row { display: flex; margin: 30px 0;}
#medicine .ddetail-search form .dform-row label { display: flex; width: 119px; font-size: 17px; color: #154757; margin: 0 15px; text-align: center; align-items: center; justify-content: center;}
#medicine .ddetail-search form .dform-row input[type="text"], 
#medicine .ddetail-search form .dform-row select { padding: 8px 10px; width: 457px; height: 40px; border: 1px solid #ddd; border-radius: 10px;}
#medicine .ddetail-search form .checkbox .check { display: flex; width: 457px;}
#medicine .ddetail-search form .checkbox .check label { display: flex; width: 30px; margin: 0 20px 0 5px; font-size: 15px; color: #111;}
#medicine .ddetail-search form .dbutton-row { text-align: center; margin: 50px 0 25px 0;}
#medicine .ddetail-search form .dbutton-row .dreset-button, .dsubmit-button { padding: 10px 40px; width: 132px; height: 39px; border: none; border-radius: 10px; cursor: pointer;}
#medicine .ddetail-search form .dbutton-row .dreset-button { background-color: #ddd; color: white; font-size: 17px; margin-right: 25px;}
#medicine .ddetail-search form .dbutton-row .dsubmit-button { background-color: #154757; color: white; font-size: 17px;}

/* 검색결과 */
#medicine .dresult { background-color: #fff;}
#medicine .dresult .result-header { display: flex; justify-content: space-between; align-items: center; margin: 90px 0 20px 0;}
#medicine .dresult .result-header span { font-size: 15px; color: #111;}
#medicine .dresult .dtable { width: 100%; max-width: 1200px; table-layout: fixed; border-collapse: collapse;}
#medicine .dresult .dtable .no-results { text-align: center; padding: 20px 0;}
#medicine .dresult .dtable thead th { height: 40px; background-color: #154757; color: #fff; font-size: 18px; text-align: center; padding: 0 30px; font-weight: normal;}
#medicine .dresult .dtable tbody td:first-child { border-left: 1px solid #ddd;}
#medicine .dresult .dtable tbody td:last-child { border-right: 1px solid #ddd;}
#medicine .dresult .dtable tbody tr:last-child td { border-bottom: 1px solid #ddd;}
#medicine .dresult .dtable tbody td { height: 79px; padding: 0 10px;}
#medicine .dresult .dtable tbody .pill-image { width: 151px; height: 69px; border-radius: 10px; padding: 0;}
#medicine .dresult .dtable tbody tr td.img-tag { text-align: center; vertical-align: middle;}
#medicine .dresult .dtable tbody .accordion-cell { text-align: left; padding-left: 0;}
#medicine .dresult .dtable tbody tr:hover { background-color: #f5f5f5;}
#medicine .dresult .dtable tbody tr.no-hover:hover { background-color: transparent;}
#medicine .dresult .dtable thead th:first-child { border-radius: 10px 0 0 0;}
#medicine .dresult .dtable thead th:last-child { border-radius: 0 10px 0 0;}
#medicine .dresult .dtable thead th:nth-child(1),
#medicine .dresult .dtable tbody td:nth-child(1) { width: 180px; }
#medicine .dresult .dtable thead th:nth-child(3),
#medicine .dresult .dtable tbody td:nth-child(3) { width: 260px;}
#medicine .dresult .dtable thead th:nth-child(4),
#medicine .dresult .dtable tbody td:nth-child(4),
#medicine .dresult .dtable thead th:nth-child(5),
#medicine .dresult .dtable tbody td:nth-child(5),
#medicine .dresult .dtable thead th:nth-child(6),
#medicine .dresult .dtable tbody td:nth-child(6) { width: 150px; text-align: center;}
#medicine .dresult .dtable thead th:nth-child(7),
#medicine .dresult .dtable tbody td:nth-child(7) { width: 50px; text-align: center; padding: 0;}


/* 아코디언 */
#medicine .accordion-content { border-radius: 10px; border-top: none; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);}
#medicine .accordion-content td .medicine-details { margin: 40px 27px 40px;}
#medicine .accordion-content td .medicine-details h4 { margin-bottom: 7px;}
#medicine .accordion-content td .medicine-details .medicine-item { display: flex; border-top: 1px solid #154757; font-size: 15px; gap: 40px;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-left { display: flex; margin-top: 10px;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-left .medicine-info { flex: 1;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-left .medicine-info p { display: flex; color: #111; padding-left: 10px; margin: 20px 0; width: 366px;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-left .medicine-info p strong { display: block; width: 110px; color: #154757;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-left .medicine-info p span{ display: block; width: 250px;} 
#medicine .accordion-content td .medicine-details .medicine-item .medicine-right { margin: 40px 30px 0 0;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-right .pill-detail-image { width: 330px; height: 150px; margin: 0 0 10px 0;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-right .dimension-table { margin-right: 26px; width: 100%; max-width: 328px; border-collapse: collapse; height: 65px;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-right .dimension-table th,
#medicine .accordion-content td .medicine-details .medicine-item .medicine-right .dimension-table td { width: 33.33%; height: 32px; padding: 0; border: 1px solid #154757; font-weight: normal; text-align: center; background-color: #fff; color: #111;}
#medicine .accordion-content td .medicine-details .medicine-item .medicine-right .dimension-table th { color: #154757;}

/* 라인잡기 */
div {
    /* outline: 1px solid black; */
}